<header class="navbar navbar-expand-lg navbar-dark fixed-top nga-navbar">
  <nav class="container" aria-label="Main navigation">
    <!--
    <a href="https://github.com/ganatan/angular-app" class="d-none d-sm-block">
      <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 2000;"
        src="https://api.ganatan.com/articles/img/forkme.png" alt="Fork me on GitHub"
        data-canonical-src="https://api.ganatan.com/articles/img/forkme.png" />
    </a>
    -->
    <a routerLink="/" class="navbar-brand" alt="Accueil" >
      <img src="./assets/params/images/logo/home.png" srcset="./assets/params/images/logo/home.png
      ./assets/params/images/logo/Logo.png2x" width="50" height="50" alt="Ganatan Logo">
      <span class="nga-logo mx-1" aria-label="Ganatan"></span>
    </a>
    <a href="https://www.gob.mx/" target="_blank" >
    <img src="./assets/params/images/logo/pleca-gob1.png" srcset="./assets/params/images/logo/pleca-gob1.png
    ./assets/params/images/logo/Logo.png2x" width="300" height="70" alt="Ganatan Logo">
    <span class="nga-logo mx-1" aria-label="Ganatan"></span>
    </a>
    <a href="https://www.gob.mx/sep" target="_blank" >
    <img src="./assets/params/images/logo/pleca-gob2.png" srcset="./assets/params/images/logo/pleca-gob2.png
    ./assets/params/images/logo/Logo.png2x" width="300" height="70" alt="Ganatan Logo">
    <span class="nga-logo mx-1" aria-label="Ganatan"></span>
    </a>
    <a href="https://www.tecnm.mx/" target="_blank" >
    <img src="./assets/params/images/logo/pleca_tecnm.jpg" srcset="./assets/params/images/logo/pleca_tecnm.jpg
    ./assets/params/images/logopleca_tecnm.jpg 2x" width="200" height="70" alt="Ganatan Logo">
    <span class="nga-logo mx-1" aria-label="Ganatan"></span>
    </a>
    <a href="https://mazatlan.tecnm.mx/" target="_blank" > 
    <img src="./assets/params/images/logo/itmaz.jpeg" srcset="./assets/params/images/logo/itmaz.jpeg
    ./assets/params/images/itmaz.jpeg 2x" width="80" height="80" alt="Ganatan Logo">
    <span class="nga-logo mx-1" aria-label="Ganatan"></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <form class="d-flex">
        <button type="button" class="btn btn-sm nga-btn-navbar me-2" routerLink="/signup"><i
            class="fas fa-user-plus me-2"></i>Crear cuenta</button>
        <button type="button" class="btn btn-sm btn-outline-light me-2" routerLink="/login"><i
            class="fas fa-sign-in-alt me-2"></i>Iniciar sesion</button>
      </form>
    </div>
  </nav>
</header>