<footer class="nga-footer">
  <div class="nga-hint">
    <div class="container">
      <div class="row p-4">
      </div>
    </div>
  </div>
  <div class="container py-5 text-center text-lg-start">
    <div class="row">
      <div class="col-12 col-lg-5 mb-3">
        <h2 class="h5"><img class="mb-1 me-1" src="./assets/params/images/logo/itmaz2.png" srcset="./assets/params/images/logo/itmaz2.png,
          ./assets/params/images/logo/itmaz2.png 2x" width="80" height="80" alt=""></h2>
        <hr class="text-white mb-4 mt-0 d-inline-block " style="width: 120px;">
        <p>Siguenos: </p>
        <div>
          <a type="button" class="nga-btn-social nga-btn-linkedin" href="https://www.facebook.com/ITMAZOficial/?ref=embed_page" target="_blank"
            aria-label="Facebook Itmaz">
            <i class="fab fa-facebook"></i>
          </a>
          <a type="button" class="nga-btn-social nga-btn-twitter" href="https://twitter.com/ITMAZOficial?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Escreen-name%3AITMAZOficial%7Ctwcon%5Es2" target="_blank"
            aria-label="Twitter Itmaz">
            <i class="fab fa-x"></i>
          </a>
          <a type="button" class="nga-btn-social nga-btn-github" href="https://www.instagram.com/itmazoficial/" target="_blank"
            aria-label="Instagram Itmaz">
            <i class="fab fa-instagram"></i></a>
          <a type="button" class="nga-btn-social nga-btn-gitlab" href="https://www.youtube.com/@SOMOSITMAZ" target="_blank"
            aria-label="Youtube Itmaz">
            <i class="fab fa-youtube"></i></a>
        </div>
      </div>
    <!--   <div class="col-6 col-lg-3 mb-3">
        <h2 class="h5">Tools</h2>
        <hr class="text-white mt-0 d-inline-block" style="width: 70px;">
        <ul class="list-unstyled">
          <li class="mb-2"><a href="https://angular.io/">Angular</a></li>
          <li class="mb-2"><a href="https://getbootstrap.com/">Bootstrap</a></li>
          <li class="mb-2"><a href="https://fontawesome.com/">Font Awesome</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-3 mb-3">
        <h2 class="h5">Learn</h2>
        <hr class="text-white mt-0 d-inline-block" style="width: 70px;">
        <ul class="list-unstyled">
          <li class="mb-2"><a href="https://www.ganatan.com/tutorials">Tutorials</a></li>
          <li class="mb-2"><a href="https://www.ganatan.com/about">About</a></li>
        </ul>
      </div> -->
    </div>
  </div>
  <div class="py-3 text-center" style="background-color: black;">
    <div class="container">
      <a href="https://www.ganatan.com/"> www.ganatan.com.mx</a>
    </div>
  </div>
</footer>